{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'fontawesome-free-5.15.4-web/css/all.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <title>SDMCET Management Information System</title>

  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/style.js' %}"></script>
</head>
<!--
  xs<576 | 576<sm<768 | 768<md<992 | 992<lg<1200 | 1200<xl
-->

<body>
  <header class="full-header fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 p-1">
          <img class="img-fluid rounded mx-auto d-block" src="{% static 'images/sdm_logo.jfif' %}" alt="" width="60px">
        </div>
        <div class="col-sm-10 p-1 text-center">
          <div class="header-text p-1">
            Shri Dharmasthala Manjunatheshwara College of Engineering & Technology
            <div class="p-1 header-line">
              (An Autonomous College under
              Visvesvaraya Technological University, Belegavi and Recognised by All India Council for Technical
              Education, New Delhi)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <nav class="navbar navbar-dark navbar-expand-md" style="background-color: #a12b29; font-weight: 600;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-right" href="{% url 'About Us' %}" target="_blank" style="color: white;">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mx-auto text-center">
        <div class="login-text">
          <div style="font-weight:700; font-size: 1.5rem;">
            MANTHANA
          </div>
          <div style="font-size:0.95rem;">
            (Management Information System)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mx-auto text-center">
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg" style="font-weight: 500; color:#636e72;">Sign in to MIS</p>
            <form action="/doLogin" method="POST" id="demo-form">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" name="txtusrname" id="usrName">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-user" style="font-size: 1.5rem;"></i>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="txtpasswd" id="usrPasswd">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="fas fa-key" style="font-size: 1.5rem;"></i>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                {{form.captcha}}
              </div>
              <div class="row">
                <div class="col p-1">
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <p class="login-box-msg text-center" style="color:#cc0000">
          {% for message in messages %}
          {{message}}
          {% endfor %}
        </p>
      </div>
    </div>
  </div>

  <footer class="full-footer fixed-bottom p-1">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm">
          &copy; Copyright <a href="http://www.sdmcet.ac.in" target="_blank">SDMCET.</a> All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>