{% extends 'base_template.html' %} {% load static %} {% block title %}
<title>Add Roles</title>{% endblock %} {% block page-content %}
<link href="{% static 'fonts/SansationLight/font.css' %}" rel="stylesheet">
{% if userName is None %}
<h3>You are not authorized to view this page!!</h3>
{% else %}
<div class="col-md mx-auto text-center h6" style="font-size: 0.9rem;">
    <h5 align="center"><strong>Create Employee</strong></h5>
    <hr>
    <form role="form" action="/CreateEmployee" method="POST" id="register_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <tr>
                        {% for field in form %}
                        <div class="form-group">
                            <td class="text-end"><label>{{ field.label_tag }}</label></td>
                            <td class="text-start">{{ field }}
                                <span class="text-danger">{{ field.errors }}</span>
                            </td>
                        </div>
                    </tr>
                    {% endfor %}
                    <tr>
                        <div class="form-group">
                            <td colspan="2">
                                <button type="submit" name="btn_employee_details" id="btn_employee_Search"
                                    value="employee_Search" class="btn btn-success btn-sm"><b>Add Employee</b></button>
                            </td>
                        </div>
                    </tr>
                </table>
                
                <div class="card showTable" id="sTable">
                    <div class="card-body">
                        <table id="EmpDetails" class="table table-sm table-hover table-left">
                            <thead class="table-dark">
                                <tr class="header">
                                    <th>Sl.No.</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Employee ID</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Phone Number</th>
                                    <th>E-mail</th>
                                    <th>Modify</th>
                                </tr>
                            </thead>
                            {% for empInfo in empdetails %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img src="/media/{{ empInfo.employee_profile_pic }}" alt="" width="52" height="65"></td>
                                <td>{{empInfo.employee_name}}</td>
                                <td>{{empInfo.employee_emp_id}}</td>
                                <td>{{empInfo.employee_designation}}</td>
                                {% for dept in deptLists %} 
                                    {% if dept.dept_id == empInfo.employee_dept_id_id %}
                                        <td>{{dept.dept_name}}</td>
                                    {% endif %} 
                                {% endfor %}    
                                <td>{{empInfo.employee_cellphone}}</td>
                                <td>{{empInfo.employee_email}}</td>
                                <td>
                                    <a href="/EditEmployee/{{ empInfo.employee_id }}" class="btn btn-primary btn-sm">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}