{% extends 'base_template.html' %}
{% load static %}

{% block title %}<title>First Year Student Course Registration (Bulk)</title>{% endblock %}

{% block page-content %}

<h2 align="center">First Year Student Course Registration (Bulk)</h2>

    <!-- Main Content -->
    <section class="mt-5 mb-5">
        <div class="container shadow rounded-3 p-4 bg-white">
            <form method="POST" id="indexForm" action="/bulkRegisterFirstYearStudentCourses" data-subj-url="{% url 'ajax_load_first_year_subjects_st_reg_bulk' %}">              
            {% csrf_token %}
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="acad_year" class="form-label">
                            <strong>Academic Year</strong>
                        </label>
                        <select name="acad_year" id="acad_year" class="form-select" required>
                            <option value="" disabled selected>Choose Academic Year</option>
                            {% for aca_yr in acad_year_tbl %}
                            <!-- <option value="{{aca_yr.acayear}}">{{aca_yr.acayear}}</option> -->
                            <option value="{{aca_yr.id}}">{{aca_yr.acayear}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" name="academic_year" id="academic_year" hidden>
                    <div class="col-6 mb-3">
                        <label for="courseList" class="form-label">
                            <strong>Courses to be registered for</strong>
                        </label>
                        <select name="courseList" id="courseList" multiple="multiple" class="form-select">
                        </select>
                    </div>
                    <select name="subList" id="subList" multiple="multiple" hidden></select>
                </div>
                <div class="col-4 mb-3">
                    <label for="acad_cal_type" class="form-label"> Academic Type </label>
                    <select name="acad_cal_type" id="acad_cal_type" class="form-select" required>
                    
                      <option disabled selected>Choose Academic_type</option>
                      <option value="1">Regular Semester</option>
                      <option value="2">STC Semester</option>
                    
                      
                    </select>
                  </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="first_year_cycle" class="form-label">
                            <strong>Department</strong>
                        </label>
                        <select name="first_year_cycle" id="first_year_cycle" class="form-select" required>
                            <option value="" disabled selected>Choose Department</option>
                            {% for div in cd %}
                            <option value="{{div.dept_id}}">{{div.dept_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" name="cycle" id="cycle" hidden>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="first_year_sem" class="form-label">
                            <strong>Semester</strong>
                        </label>
                        <select name="first_year_sem" id="first_year_sem" class="form-select">
                            <option disabled selected>Choose Semester</option>
                            <option value="1">1st Sem</option>
                            <option value="2">2nd Sem</option>
                        </select>
                    </div>

                </div>
                
                <div class="row">
                    <div class="d-grid gap-4 col-3 mx-auto">
                      <button type="submit" class="btn btn-primary">Bulk Register</button>
                    </div>
                  </div>
            </form>
        </div>
    </section>
    <script src="./plugins/bsmultiselect/js/BsMultiSelect.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
        $("#first_year_sem").prop('disabled', true);   
        $('#first_year_cycle').prop('disabled', true);
        $("#acad_year").change(function () {
                $('#first_year_cycle').prop('disabled', false);
        });
        $("#first_year_cycle").change(function () {
                $('#first_year_sem').prop('disabled', false);
        });
        $("#first_year_sem").change(function () {
            $('#academic_year').val($('#acad_year').val());
            $('#cycle').val($('#first_year_cycle').val());
            $('#subList').val($('#courseList').val());
            $("#acad_year").prop('disabled',true);
            $('#first_year_cycle').prop('disabled', true);
            var url1 = $("#indexForm").attr("data-subj-url");  // get the url of the `load_first_year_st_reg_subjects` view
            var programmingId = $(this).val();  // get the selected programming ID from the HTML input
            var acadYrID = $('#acad_year').val();
            var cycle = $('#first_year_cycle').val();
            var acad_cal_type = $('#acad_cal_type').val()
            
            $.ajax({                       // initialize an AJAX request
              url: url1,                    // set the url of the request (= localhost:8000/load_first_year_st_reg_subjects)
              data: {
                'first_year_sem': programmingId,       // add the programming id to the GET parameters
                'acad_year' : acadYrID,
                'first_year_cycle' : cycle,
                'acad_cal_type':acad_cal_type
              },
              success: function (data) {   // `data` is the return of the `load_first_year_st_reg_subjects` view function
                $("#courseList").html(data);  // replace the contents of the course input with the data that came from the server
              }
            });
        });
    });
      </script>
</body>
{% endblock %}