{% extends 'base_template.html' %}
{% load static %}

{% block title %}<title>External Exam QP Pattern</title>{% endblock %}

{% block page-content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" /> -->
<link href="{% static 'vendor/bootstrap-5.1.3-dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>External Exam QP Pattern</title>

    <!-- Bootstrap CSS -->
    <!--<link href="vendor/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />-->
    <style>
        .hidden{
            display: none;
        }
    </style>

</head>

<body class="bg-light">
    <!-- Navbar 
    <nav class="navbar fixed-top navbar-light bg-light shadow bg-white">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 mx-auto">First Year Course Details</span>
        </div>
    </nav>
    <br />
    <br /> -->
    <h2 align="center">External Exam QP Pattern</h2>
    <!-- Main Content -->
    <section class="mt-5 mb-5">
    <form id="myForm" action="{% url 'edit_exam_qp_pattern' exam_qp.exam_qp_id %}" method="post">
        {% csrf_token %}
        {% comment %} <div class="container shadow rounded-3 p-4 bg-white">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="academic-year" class="form-label">
                            Academic Year
                        </label>
                        <select id="academic-year" name="academic-year" class="form-select" required>
                            <option disabled selected>Choose Academic Year</option>
                            <option value="2020-21">2020-21</option>
                            <option value="2021-22">2021-22</option>
                            <option value="2022-23">2022-23</option>
                            <option value="2023-24">2023-24</option>
                            <option value="2024-25">2024-25</option>
                            <option value="2026-27">2026-27</option>
                        </select>
                    </div>

                    <div class="col-6 mb-3">
                        <label for="semester-select" class="form-label">
                            Semester
                        </label>
                        <select id="semester-select" name="semester-select" class="form-select" required>
                            <option disabled selected>Choose Semester</option>
                            <option value="1">1st Semester</option>
                            <option value="2">2nd Semester</option>
                            <option value="3">3rd Semester</option>
                            <option value="4">4th Semester</option>
                            <option value="5">5th Semester</option>
                            <option value="6">6th Semester</option>
                            <option value="7">7th Semester</option>
                            <option value="8">8th Semester</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="semester-cycle" class="form-label">
                            Assessment Type
                        </label>
                        <select id="assessment-type" name="assessment-type" class="form-select" required>
                            <option disabled selected>Choose type</option>
                            <option value="IA-1">IA-1</option>
                            <option value="IA-2">IA-2</option>
                            <option value="IA-3">IA-3</option>
                            <option value="CTA">CTA</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="course-title" class="form-label">
                            Course Title
                        </label>
                        <!-- -->
                        <select name="course_name" id="course_name" class="form-select" required>
                            <option value="" disabled selected>Choose Course</option>
                            {% for course in sd %}
                              <option value="{{course.course_title}} - {{course.course_code}}">{{course.course_title}} - {{course.course_code}}</option>
                            {% endfor %}
                          </select>
            
                    </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="form-label" >
                            No.of Questions
                        </label>
                        <input type="text" class="form-control"  name="no-of-question" id='no-of-question' required/>
                    </div>
                </div>
        </div>             
        </div> {% endcomment %}
        
        <div class="container shadow rounded-3 p-4 bg-white card">
            <div class="card mt-4 ">
                <input type="text" name="exam_details_id" hidden value="{{exam.exam_details_id}}">
                <input type="text" name="department" hidden value="{{department}}">
                <h5 class="card-header text-center">Exam Details</h5>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-lab" role="tabpanel"
                            aria-labelledby="pills-lab-tab">
                            <div class="row mt-2">
                                <div class="col-4 mb-3">
                                    <p class="form-control ">Academic Year : {{exam_qp.exam_id.acad_year}}</p>
                                </div>
                                <div class="col-4 mb-3">
                                    <p class="form-control ">Semester: {{exam_qp.exam_id.semester}}</p>
                                </div>
                                <div class="col-4 mb-3">
                                    <p class="form-control ">Exam Type : {{exam_qp.exam_id.exam_type}}</p>
                                </div>
                                <div class="col-12 mb-3">
                                    <p class="form-control ">Exam Description : {{exam_qp.exam_id.description}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <p class="form-control ">Course: {{exam_qp.course_code.course_title}} - {{exam_qp.course_code.course_code}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <p class="form-control ">Department: {{exam_qp.course_code.offered_by.dept_name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input class="hidden" type="text" name="exam_qp_id" id='exam_qp_id' value={{exam_qp.exam_qp_id}} />
            <input class="hidden" type="text" name="department" id='department' value={{exam_qp.course_code.offered_by}} />
        </div>
        <div id='unit-container'></div>
        <div class="row">
            <div class="d-grid gap-2 col-1 mx-auto">
              
              <input type="text" name="btn_clicked" value="register" hidden>
              <button type="submit" class="btn btn-primary">Submit</button>
              
            </div>
        </div>
    </form>
    </section>


    {% comment %} <div id="unit-template" class="hidden" value="__unit__">
        <div class="card mt-4 bg-light">
            <h5 class="card-header m-0 text-center">Unit - __unit__</h5>
            <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="__unit__-question-container" role="tabpanel" aria-labelledby="pills-lab-tab">
                
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="question-template" class="hidden" value="__number__">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card-header question-no-__number__">
                   Q No. __number__
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
              <label class="form-label ">
                  Max marks for QNO.__number__
              </label>
              <input type="text" id="q-__number__-max-marks" name="q-__number__-max-marks" class="form-control" value="20" disabled/>
          </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <label class="form-label ">
                No.of sub Questions
                </label>
                <input type="text" class="form-control sub_question" id="u-__unit__-q-__number__-sub-q" name="q-__number__-sub-q" sub-q required/>
            </div>
        </div>
        <div class="card mt-4 bg-light" id="u-__unit__-q-__number__-sub-q-div">
            <div class="card-header m-0">
                <div class="row m-0">
                    <div class=" col-2 mb-3 text-center m-0">
                        Sub Question
                    </div>
                    <div class=" col-5 mb-3 text-center m-0">
                        Marks
                    </div>
                    <div class=" col-5 mb-3 text-center m-0">
                        Course Outcome
                    </div>
                </div>
            </div>
            <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-lab" role="tabpanel" aria-labelledby="pills-lab-tab">
                    <div id="cont-for-sub-of-u-__unit__-q-__number__" class="card-body">
                    </div>
                </div>
                
              </div>
            </div>
          </div>
    </div>



    <div class="hidden" id="sub-q-template">
        <div class="row">
            <div class="col-2 mb-3 text-center" >
                __number__
            </div>
            <div class="col-5 mb-3">
                <input type="text" class="form-control" name="q-__qno__-sub-q-__number__-marks" id="q-__qno__-sub-q-__number__-marks" required>
            </div>
            <div class="col-5 mb-3 card">
                    <div class="card-body d-flex flex-row flex-wrap" id="q-__qno__-subq-__number__-cos">
                        {% for co in cos %}
                        <div class="mx-1">
                            <label for="q-__qno__-sub-q-__number__-cos-input-{{forloop.counter}}">
                                <input onchange="coCheck(event)" class="mx-1 form-check-input co" name="q-__qno__-sub-q-__number__-cos-input-{{forloop.counter}}" id="q-__qno__-sub-q-__number__-cos-input-{{forloop.counter}}" type="checkbox" value="{{co.co_num}}"/>{{co.co_name}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div> {% endcomment %}

    <div id="unit-template" class="hidden" value="__unit__">
        <div class="card mt-4 bg-light">
            <h5 class="card-header m-0 text-center">Unit - __unit__</h5>
            <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active d-flex flex-row gap-3" id="__unit__-question-container" role="tabpanel" aria-labelledby="pills-lab-tab">
                
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="question-template" class="hidden" value="__number__">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card-header question-no-__number__">
                   Q No. __number__
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-6 mb-3">
              <label class="form-label ">
                  Max marks for QNO.__number__
              </label>
              <input type="text" id="q-__number__-max-marks" name="q-__number__-max-marks" class="form-control" value="20" disabled/>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label ">
            No.of sub Questions
            </label>
            <input type="text" class="form-control sub_question" id="u-__unit__-q-__number__-sub-q" name="q-__number__-sub-q" sub-q required/>
        </div>
        </div>
        <div class="card mt-4 bg-light " id="u-__unit__-q-__number__-sub-q-div">
            <div class="card-header m-0">
                <div class="row m-0">
                    <div class=" col-2 mb-3 text-center m-0">
                        Sub Question
                    </div>
                    <div class=" col-5 mb-3 text-center m-0">
                        Marks
                    </div>
                    <div class=" col-5 mb-3 text-center m-0">
                        Course Outcome
                    </div>
                </div>
            </div>
            <div class="card-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-lab" role="tabpanel" aria-labelledby="pills-lab-tab">
                    <div id="cont-for-sub-of-u-__unit__-q-__number__" class="card-body">
                    </div>
                </div>
                
              </div>
            </div>
          </div>
    </div>



    <div class="hidden" id="sub-q-template">
        <div class="row">
            <div class="col-2 mb-3 text-center" >
                __number__
            </div>
            <div class="col-5 mb-3">
                <input oninput="checkTotal(event)" type="text" class="form-control max_marks_in" name="q-__qno__-sub-q-__number__-marks" id="q-__qno__-sub-q-__number__-marks" required>
                <span class="text-danger" id="q-__qno__-subq-__number__-error"></span>
            </div>
            <div class="col-5 mb-3 card">
                    <div class="card-body d-flex flex-row flex-wrap" id="q-__qno__-subq-__number__-cos">
                        {% for co in cos %}
                        <div class="mx-1">
                            <label for="q-__qno__-sub-q-__number__-cos-input-{{forloop.counter}}">
                                <input required onchange="coCheck(event)" class="mx-1 form-check-input co" name="q-__qno__-sub-q-__number__-cos-input-{{forloop.counter}}" id="q-__qno__-sub-q-__number__-cos-input-{{forloop.counter}}" type="checkbox" value="{{co.co_num}}"/>{{co.co_name}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>



    <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="{% static '/vendor/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Option 2: jQuery -->
      <script src="{% static 'plugins/jquery/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static '/plugins/bsmultiselect/js/BsMultiSelect.min.js' %}"></script>

    <!-- <script type="text/javascript">

        const coCheck = (e) => {
            console.log('hello');
                    let targetDetails = e.target.id.split("-");
                    let qno = targetDetails[1];
                    let subq = targetDetails[4];
                    let selectorString = `#q-${qno}-subq-${subq}-cos .co`;
                    let selectorStringForChecked = `#q-${qno}-subq-${subq}-cos .co:checked`;
                    let cos = document.querySelectorAll(selectorString);
                    let checkedCos = document.querySelectorAll(selectorStringForChecked);
                    console.log(document.querySelectorAll(`#q-${qno}-subq-${subq}-cos`))
                    if(checkedCos.length>0) {
                        cos.forEach(item => {
                            item.removeAttribute('required');
                            console.log(item)
                        });
                    } else {
                        console.log("inside")
                        cos.forEach(item => {
                            item.setAttribute('required', '');
                        });
                    }
        }

        function intToChar(int) {
            const code = 'a'.charCodeAt(0);
            return String.fromCharCode(code + int);
        }

        const checkTotal = (e) => {
            let targetDetails = e.target.id.split("-");
            let qno = targetDetails[1];
            let subq = targetDetails[4];
            let selectorString = `#question-${qno} .max_marks_in`;
            let markInputs = document.querySelectorAll(selectorString);
            let eneteredFields = 0
            
            let subq_total_marks = 0 ;
            
            
            for (const item of markInputs) {
                if(!item.value){
                    continue;
                }else{
                    subq_total_marks += parseInt(item.value);
                    eneteredFields++;
                }
            }
              
            if(eneteredFields == markInputs.length &&  subq_total_marks != 20){
                document.getElementById(`q-${qno}-subq-${subq}-error`).innerHTML = "Invalid Marks";
            }
            else{
                document.getElementById(`q-${qno}-subq-${subq}-error`).innerHTML = "";
            }

        }


        const questions_input = document.getElementById('no-of-question');
        const unit_container = document.getElementById('unit-container');
        const is_comp_container = document.getElementById('question-is-compulsary-container');
        const is_comp_template = document.getElementById('is-comp-temp');
        const unit_template = document.getElementById('unit-template');
        const question_template = document.getElementById('question-template');
        const sub_q_template = document.getElementById('sub-q-template')
        const regex = new RegExp('__number__', 'g');
        const regex2 = new RegExp('__qno__', 'g');
        const regex3 = new RegExp('__unit__', 'g');
        const form = document.getElementById('myForm')
        const no_of_question_to_be_answered = document.getElementById('no-of-question-to-be-answered');

        var creating_elements = () => {

            for(let i=1; i<=5; i++){   

                const unit_element =  unit_template.cloneNode(true);
                unit_element.setAttribute('class', ' mt-3 mb-3 container shadow rounded-3 p-4 bg-white');
                unit_element.setAttribute('id', 'unit-'+i);
                unit_element.innerHTML =  unit_element.innerHTML.replace(regex3, i);
                unit_container.appendChild(unit_element);
                
            };

            let qnumber=0;
            for(let i=1; i<=5; i++){  

                const question_container = document.getElementById(i+'-question-container');

                for(let j=1; j<=2; j++){   
                    
                    const question_element =  question_template.cloneNode(true);
                    question_element.setAttribute('class', ' container  rounded-3 p-4 bg-danger bg-opacity-25');
                    qnumber = qnumber + 1;
                    question_element.setAttribute('id', 'question-'+qnumber);
                    question_element.innerHTML =  question_element.innerHTML.replace(regex, qnumber);
                    question_element.innerHTML = question_element.inner<html>.replace(regex3, i);

                    question_container.appendChild(question_element);
                    console.log(i);
                    if(j==1){
                        var hzRule = document.createElement('hr');// make a hr
                        question_container.appendChild(hzRule)
                    }
                }; 
            };

            document.querySelectorAll('.sub_question').forEach(item => {
                item.addEventListener('input', e => {
                    let unit = e.target.id[2];
                    let qno = e.target.id[6];
                    {% comment %} for unit 5 question no. is 10 => substring(6, 8) {% endcomment %}
                    if(unit==5 && qno==1){
                        qno = e.target.id.substring(6, 8)
                    }
                    let nsq = e.target.value;
                    let sub_q_container = document.getElementById(`cont-for-sub-of-u-${unit}-q-${qno}`);

                    if(nsq == ''){
                        document.getElementById(`u-${unit}-q-${qno}-sub-q-div`).hidden = true;
                    }else{
                        document.getElementById(`u-${unit}-q-${qno}-sub-q-div`).hidden = false;
                    }
                    sub_q_container.innerHTML="";
                    for(let i=1; i<=nsq; i++){               
                        const sub_q_element = sub_q_template.cloneNode(true);
                        sub_q_element.setAttribute('class', 'hello');
                        sub_q_element.setAttribute('id', `q-${i}-sub-q-element`);
                        sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex, intToChar(i-1));
                        sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex2, qno);
                        sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex3, unit);
                        sub_q_container.appendChild(sub_q_element);
                    };
                });
            }); 



            let sub_q_container_onload; 
            let no_of_sub_questions_onload;
            let unit;
            let qno;
            {% for question_num, qd in qlist.items %}
                unit = {{qd.unit}};
                qno = {{question_num}};
                sub_q_container_onload = document.getElementById(`cont-for-sub-of-u-${unit}-q-${qno}`);
                no_of_sub_questions_onload = {{ qd.no_of_sub_questions }};
                for(let i=1; i<=no_of_sub_questions_onload; i++){               
                    const sub_q_element = sub_q_template.cloneNode(true);
                    sub_q_element.setAttribute('class', 'hello');
                    sub_q_element.setAttribute('id', `q-${i}-sub-q-element`);
                    sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex, intToChar(i-1));
                    sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex2, qno);
                    sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex3, unit);
                    sub_q_container_onload.appendChild(sub_q_element);
                }; 
            {% endfor %}
        };



        var assign_values = () => {

            {% for question_num, qd in qlist.items %}

                unit = {{qd.unit}};
                qno = {{question_num}};
                document.getElementById(`u-${unit}-q-${qno}-sub-q`).value = {{ qd.no_of_sub_questions }}

                {% for subq, subqd in qd.sub_q_list.items %}
                    document.getElementById('q-{{question_num}}-sub-q-{{subq}}-marks').value = {{ subqd.max_marks }};
                    {% for co in subqd.co %}
                        document.getElementById('q-{{question_num}}-sub-q-{{subq}}-cos-input-{{co.co_num}}').checked = true;
                    {% endfor %}
                  
                {% endfor %}    


            {% endfor %}

            
        }

        window.onload = () => { 
            creating_elements();
            assign_values();
            const inputs = document.querySelectorAll('.co');
            console.log(inputs)

            for (const input of inputs) {
            input.removeAttribute('required');
            }
        };


        form.addEventListener("submit", function(e){
            let total_marks;
            for(let i=1; i<=10; i++){   

                if(i%2==0)
                    unit = parseInt(i/2)
                else
                    unit = parseInt((i+1)/2)


                no_of_sub_questions = document.getElementById(`u-${unit}-q-${i}-sub-q`).value;
                max_marks = 20;


                total_marks = 0;
                for(let j=1; j<=no_of_sub_questions; j++){  
                    let sub_q_marks = document.getElementById(`q-${i}-sub-q-${intToChar(j-1)}-marks`).value; 
                    total_marks += parseInt(sub_q_marks);
                };


                if(max_marks != total_marks){
                    e.preventDefault();
                    alert("Enter the marks correctly in Q.No"+ i);
                }

            };
        });
       


        $(document).ready(function() {
            $(window).keydown(function(event){
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            });
          });

        

    </script> -->
    <script type="text/javascript">

        const coCheck = (e) => {
            let targetDetails = e.target.id.split("-");
            let qno = targetDetails[1];
            let subq = targetDetails[4];
            let selectorString = `#q-${qno}-subq-${subq}-cos .co`;
            let selectorStringForChecked = `#q-${qno}-subq-${subq}-cos .co:checked`;
            let cos = document.querySelectorAll(selectorString);
            let checkedCos = document.querySelectorAll(selectorStringForChecked);
            console.log(document.querySelectorAll(`#q-${qno}-subq-${subq}-cos`));
            if (checkedCos.length > 0) {
                cos.forEach(item => {
                    item.removeAttribute('required');
                });
            } else {
                console.log("inside");
                cos.forEach(item => {
                    item.setAttribute('required', '');
                });
            }
        };
    
        const checkTotal = (e) => {
            let targetDetails = e.target.id.split("-");
            console.log(targetDetails);
            let qno = targetDetails[1];
            let subq = targetDetails[4];
            let selectorString = `#question-${qno} .max_marks_in`;
            let markInputs = document.querySelectorAll(selectorString);
            let eneteredFields = 0;
    
            let subq_total_marks = 0;
    
            console.log(markInputs);
            for (const item of markInputs) {
                if (!item.value) {
                    continue;
                } else {
                    subq_total_marks += parseInt(item.value);
                    eneteredFields++;
                }
            }
            console.log("----------total");
    
            console.log(subq_total_marks);
    
            if (eneteredFields == markInputs.length && subq_total_marks != 50) {
                document.getElementById(`q-${qno}-subq-${subq}-error`).innerHTML = "Invalid Marks";
            } else {
                document.getElementById(`q-${qno}-subq-${subq}-error`).innerHTML = "";
            }
    
        };
    
        function intToChar(int) {
            const code = 'a'.charCodeAt(0);
            return String.fromCharCode(code + int);
        }
    
        const questions_input = document.getElementById('no-of-question');
        const unit_container = document.getElementById('unit-container');
        const is_comp_container = document.getElementById('question-is-compulsary-container');
        const is_comp_template = document.getElementById('is-comp-temp');
        const unit_template = document.getElementById('unit-template');
        const question_template = document.getElementById('question-template');
        const sub_q_template = document.getElementById('sub-q-template');
        const regex = new RegExp('__number__', 'g');
        const regex2 = new RegExp('__qno__', 'g');
        const regex3 = new RegExp('__unit__', 'g');
        const form = document.getElementById('myForm');
        const no_of_question_to_be_answered = document.getElementById('no-of-question-to-be-answered');
    
        var creating_elements = () => {
    
            for (let i = 1; i <= 5; i++) {
                const unit_element = unit_template.cloneNode(true);
                unit_element.setAttribute('class', ' mt-3 mb-3 container shadow rounded-3 p-4 bg-white');
                unit_element.setAttribute('id', 'unit-' + i);
                unit_element.innerHTML = unit_element.innerHTML.replace(regex3, i);
                unit_container.appendChild(unit_element);
            }
    
            let qnumber = 0;
            for (let i = 1; i <= 5; i++) {
                const question_container = document.getElementById(i + '-question-container');
    
                for (let j = 1; j <= 2; j++) {
                    const question_element = question_template.cloneNode(true);
                    question_element.setAttribute('class', ' container  rounded-3 p-4 bg-danger bg-opacity-25');
                    qnumber = qnumber + 1;
                    question_element.setAttribute('id', 'question-' + qnumber);
                    question_element.innerHTML = question_element.innerHTML.replace(regex, qnumber);
                    question_element.innerHTML = question_element.innerHTML.replace(regex3, i);
    
                    question_container.appendChild(question_element);
                    console.log(i);
                    if (j == 1) {
                        var hzRule = document.createElement('hr'); // make a hr
                        question_container.appendChild(hzRule);
                    }
    
                    console.log("question_container--------------------");
                    console.log(question_container);
                }
            }
    
            document.querySelectorAll('.sub_question').forEach(item => {
                item.addEventListener('input', e => {
                    let unit = e.target.id[2];
                    let qno = e.target.id[6];
                    {% comment %} for unit 5 question no. is 10 => substring(6, 8) {% endcomment %}
                    if (unit == 5 && qno == 1) {
                        qno = e.target.id.substring(6, 8);
                    }
                    let nsq = e.target.value;
                    let sub_q_container = document.getElementById(`cont-for-sub-of-u-${unit}-q-${qno}`);
    
                    if (nsq == '') {
                        document.getElementById(`u-${unit}-q-${qno}-sub-q-div`).hidden = true;
                    } else {
                        document.getElementById(`u-${unit}-q-${qno}-sub-q-div`).hidden = false;
                    }
                    sub_q_container.innerHTML = "";
                    for (let i = 1; i <= nsq; i++) {
                        const sub_q_element = sub_q_template.cloneNode(true);
                        sub_q_element.setAttribute('class', `hello`);
                        sub_q_element.setAttribute('id', `q-${i}-sub-q-element`);
                        sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex, intToChar(i - 1));
                        sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex2, qno);
                        sub_q_element.innerHTML = sub_q_element.innerHTML.replace(regex3, unit);
                        sub_q_container.appendChild(sub_q_element);
                    }
    
                    console.log(document.querySelectorAll('#q-1-subq-a-cos .co'));
                });
            });
        };
    
        window.onload = () => {
            creating_elements();
            document.querySelectorAll('.co').forEach(item => {
                item.addEventListener('change', e => {
                    console.log('hello');
                });
            });
        };
    
        form.addEventListener("submit", function(e) {
            let total_marks;
            for (let i = 1; i <= 10; i++) {
                if (i % 2 == 0)
                    unit = parseInt(i / 2);
                else
                    unit = parseInt((i + 1) / 2);
    
                no_of_sub_questions = document.getElementById(`u-${unit}-q-${i}-sub-q`).value;
                max_marks = 50;
    
                total_marks = 0;
                for (let j = 1; j <= no_of_sub_questions; j++) {
                    let sub_q_marks = document.getElementById(`q-${i}-sub-q-${intToChar(j - 1)}-marks`).value;
                    total_marks += parseInt(sub_q_marks);
                }
    
                if (max_marks != total_marks) {
                    e.preventDefault();
                    alert("Enter the marks correctly in Q.No" + i);
                }
            }
        });
    
        $(document).ready(function() {
            $(window).keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    
    </script>
    
</body>

</html>
{% endblock %}