{% extends 'base_template.html' %}
{% load static %}

{% block title %}<title>Hall Ticket Generation</title>{% endblock %}


{% block page-content %}
<!-- Date Range Picker CSS -->
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" />
<script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<h2 align="center">Hall Ticket Generation</h2>
<section class="mt-5 mb-5">
    <div class="container shadow rounded-3 p-4 bg-white">
        <form action="/gen_hallTicket" method="POST" id="">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="exam_id" class="form-label"> Exam </label>
                    <select name="exam_id" id="exam_id" class="form-select" required>
                        <option value="" disabled selected>Choose Exam</option>
                        {% for exam in exams %}
                        <option value="{{ exam.exam_details_id }}">{{ exam.description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 mb-3">
                    <label for="department" class="form-label"> Department </label>
                    <select name="department" id="department" class="form-select" required>
                        <option value="" disabled selected>Choose Department</option>
                        {% for department in departments %}
                        <option value="{{ department.dept_id }}">{{ department.dept_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 mb-3 mt-3 text-center">
                    <button type="submit" name="btn_clicked" id="btn_clicked" value="generate_hallticket_submit"
                        class="btn btn-success btn-sm"><b>Generate HallTicket</b></button>
                    <button type="submit" name="btn_clicked" id="btn_clicked" value="generate_hallticket_pdf"
                        class="btn btn-success btn-sm"><b>Print HallTickets</b></button>
                </div>
            </div>
        </form>
    </div>
</section>
{% comment %} <script>
    $(document).ready(function () {
        window.history.replaceState('', '', window.location.href)
    });
</script> {% endcomment %}
{% endblock %}