{% extends 'base_template.html' %}
{% load static %}

{% block title %}<title>SEE Time Table</title>{% endblock %}

{% block page-content %}



    <h2 align="center">SEE Time Table</h2>
    <!-- Main Content -->
    <section class="mt-5 mb-5">
        <div class="container shadow rounded-3 p-4 bg-white">
            <form action="/seetimetable" method="POST" id="SEE_rights_form" data-course-url="{% url 'ajax_load_see_subjects_tt' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4 mb-3">
                        <!--<label name="exam_desc" for="exam_desc" class="form-label"> Exam Description</label>
                        <select name="exam_desc" id="exam_desc" required class="form-select">
                           <option value="" disabled selected>Exam Description</option>
                            <option value="2022-23 SEE (Regular) 3rd sem">2022-23 SEE (Regular) 3rd sem </option>
                          </select>-->
                          <label for="exam_descr" class="form-label"> Examination: </label>
                          <select id="exam_descr" name="exam_descr" required class="form-select">
                            <option value="">-- Choose Exam --</option>
                            {% for exam in exam_list %}
                            <option value="{{exam.description}}">{{exam.description}}</option>
                            {% endfor %}
                          </select>
                    </div>

                    <div class="col-4 mb-3">
                        <label for="acad_year" class="form-label">Academic Year</label>
            <select name="acad_year" id="acad_year" class="form-select" required>
              <option value="">Choose Academic Year</option>
              {% for cal in calender %}
              <option value="{{cal.id}}">{{cal.acayear}}</option>
              {% endfor %}
            </select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="offered_by" class="form-label w-60"> Offered By : </label>
                        <select id="offered_by" name="offered_by" required class="form-select">
                          <option value="" disabled selected>-- Choose Branch --</option>
                          {% for dept in department %}
                          <option value="{{dept.dept_id}}">{{dept.dept_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                </div>
              

                <div class="row">
                    <div class="col-2 mb-3">
                        <label for="acad_cal_sem" class="form-label">
                          Semester Allotted :
                        </label>
                        <select id="sem" name="sem" required class="form-select">
                          <option value="" disabled selected>-- Choose Semester --</option>
                          <option value="1">1st Semester</option>
                          <option value="2">2nd Semester</option>
                          <option value="3">3rd Semester</option>
                          <option value="4">4th Semester</option>
                          <option value="5">5th Semester</option>
                          <option value="6">6th Semester</option>
                          <option value="7">7th Semester</option>
                          <option value="8">8th Semester</option>
                        </select>
                      </div> 

                    <div class="col-5 mb-3">
                        <label for="course_code" class="form-label">Subject</label>
                        <select name="course_code" id="course_code" class="form-select" required>
                          <option value="" disabled selected>-- Choose Subject -- </option>
                        </select>
                    </div>
                    <div class="col-3 mb-3">
                        <label for="examdate" class="form-label">
                            Exam Date
                        </label>
                        <input type="date" id="examdate" name="examdate"  class="form-control" required>
                    </div>
                    <!-- <div class="col-2 mb-3">
                        <label for="examdate" class="form-label">
                            Exam Time
                        </label>
                        <input type="time" id="examtime" name="examtime" class="form-control" required>
                    </div> -->
                </div>

                <div class="row">
                    <div class="d-grid gap-4 col-1 mx-auto">
                        <input type="text" name="btn_clicked" value="register" hidden>
                        <br>
                        <button type="submit" name="btn_div_allot" id="btn_div_allot" value="register"
                            class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#offered_by").change(function () {
                //reset the Subject dropdown
                $('#sem').prop('selectedIndex',0);
                $('#course_code').prop('selectedIndex',0);
                $('#course_code').empty();
              });
              $("#sem").change(function () {
                //reset the Subject dropdown
                //$('#course_code').prop('selectedIndex',0);
                //$('#course_code').empty();
                // Creating ajax-request to load subject-list based on Exam-ID(Acad_Year), Dept and Semester
                var offered_by = $('#offered_by').val();
                var url1 = $("#SEE_rights_form").attr("data-course-url");
                var sem = $(this).val();
                var exam_descr = $('#exam_descr').val();
                var acad_year = $('#acad_year').val();
                $.ajax({                       
                  url: url1,                   
                  data: {
                    'acad_year':acad_year,
                    'offered_by': offered_by,
                    'sem': sem,
                    'exam_descr' : exam_descr  
                  },
                  success: function (data) {   
                    $("#course_code").html(data);  
                  },
                  error: function(data){
                    $('#course_code').
                    alert(data.responseJSON.error);
                  }
              });
            });
            });
            </script>
{% endblock %}