{% extends 'base_template.html' %}
{% load static %}

{% block title %}<title>MakeUp Exam Registration</title>{% endblock %}

{% block page-content %}
<body class="bg-light">
<h2 align="center"> MakeUp Exam Registration </h2>
<section class="mt-5 mb-5">
    <div class="container shadow rounded-3 p-4 bg-white">
        <form action="/addMakeupExam" method="POST" id="indexForm" data-course-url="{% url 'ajax_load_student_subjects' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-4 mb-3">
                    <label for="exam_descr" class="form-label"> Examination:  </label>
                    <select name="exam_descr" id="exam_descr" class="form-select" required>
                    {%if makeup_obj is None %}
                        <option disabled selected>-- Choose Exam --</option>
                        {% for exam in exam_list %}
                            <option value="{{exam.exam_details_id}}">{{exam.description}}</option>
                        {% endfor %}
                    {%else%}
                        <option value="{{exam_desc.exam_details_id}}">{{exam_desc.description}}</option>
                            {% for exam in exam_list %}
                                {%if exam_desc.description != exam.description%}
                                    <option value="{{exam.exam_details_id}}">{{exam.description}}</option>
                                {%endif%}
                            {% endfor %}
                    {% endif %}
                    </select>
                </div>
                <div class="col-4  mb-3">
                    <label for="offered_by" class="form-label w-60"> Offered By : </label>
                    <select id="offered_by" name="offered_by" value="{{ scheme_details.offered_by }}" required class="form-select">
                    {% if makeup_obj is None %}
                        <option value="" disabled selected>Choose Branch</option>
                        {% for dept in department %}
                            <option value="{{dept.dept_id}}">{{dept.dept_name}}</option>
                        {% endfor %}
                    {% else %}
                        <option value="{{branch.dept_id}}">{{branch.dept_name}}</option>
                        {% for dept in department %}
                            {% if dept.dept_name != branch.dept_name%}
                                <option value="{{dept.dept_id}}">{{dept.dept_name}}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
                </select>
                </div>
                <div class="col-4 mb-3">
                    <label for="st_uid" class="form-label"> Student Uid : </label>
                    <input type="text" id="st_uid" name="st_uid" required class="form-control" placeholder="Eg. 20BE0001" value="{{ stuid.st_uid }}" style="text-transform:uppercase"/>                   
                </div> 
            </div>
            <div class="row">
                <div class="col-4 mb-3"> 
                    <label for="course_code" class="form-label">Subject</label>

                    <select name="course_code" id="course_code" class="form-select">
                    <!-- {%if makeup_obj is None%}
                        <option value="" disabled selected>-- Choose Subject -- </option>
                    {%else%}
                        <option value="{{coursecode.course_code}}">{{coursecode.course_title}}</option>
                        {%for course in course_list%}
                            {%if course.course_code != coursecode%}
                                <option value="{{course.course_code}}">{{course.course_code}} {{"-"}} {{" "}} {{course.course_title}}</option>
                            {%endif%}
                        {%endfor%}
                    {%endif%} -->
                    </select>
                </div>
                <div class="col-4 mb-3">
                    <label for="is_exempted">Exempted : </label>
                    <div class="gap" style="height:15px"></div>
                    <div class="row">
                        {% if makeup_obj is None %}
                        <div class="custom-control custom-radio col-4 mb-3">           
                            <input type="radio" class="custom-control-input" id="yes" required name="is_exempted" value="1">
                            <label class="custom-control-label" for="yes">Yes</label>
                            
                        </div>
                        <div class="custom-control custom-radio col-4 mb-3">
                            <input type="radio" class="custom-control-input" id="no" required name="is_exempted" value="0" checked>
                            <label class="custom-control-label" for="no">No</label>
                        </div>
                        {% else %}
                            {% if exemption == 0%}
                            <div class="custom-control custom-radio col-4 mb-3">           
                                <input type="radio" class="custom-control-input" id="yes" required name="is_exempted" value="1">
                                <label class="custom-control-label" for="yes">Yes</label>                                
                            </div>
                            <div class="custom-control custom-radio col-4 mb-3">
                                <input type="radio" class="custom-control-input" id="no" required name="is_exempted" value="0" checked>
                                <label class="custom-control-label" for="no">No</label>
                            </div>
                            {% elif exemption == 1 %}
                            <div class="custom-control custom-radio col-4 mb-3">           
                                <input type="radio" class="custom-control-input" id="yes" required name="is_exempted" value="1" checked>
                                <label class="custom-control-label" for="yes">Yes</label>                                
                            </div>
                            <div class="custom-control custom-radio col-4 mb-3">
                                <input type="radio" class="custom-control-input" id="no" required name="is_exempted" value="0" >
                                <label class="custom-control-label" for="no">No</label>
                            </div>
                            {%endif%}
                        {%endif%}
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <label for="reason" class="form-label"> Reason for application : </label>
                    <input type="text" id="reason" name="reason" required class="form-control" placeholder="Enter reason for registration" value="{{ reason }}"/>
                </div>
            </div>        
       </div>  
       <div class="gap" style="height:15px"></div> 
        <div class="col-md-12 text-center">
            {% if makeup_obj is None %}
                <input type="text" name="btn_makeup" value="register" hidden>
                <button type="submit" name="btn_makeup" id="btn_makeup" value="register" class="btn btn-primary">Register</button>
                <button type="reset" name="btn_reset" id="btn_reset" value="reset" class="btn btn-primary" onclick="resetPage()">Reset</button>
            {% else %}
                <input type="text" name="makeup_exam_reg_id" value="{{makeup_obj.makeup_exam_reg_id}}" hidden>
                <input type="text" name="btn_makeup" value="update" hidden>
                <button type="submit" name="btn_makeup" id="btn_makeup" value="update" class="btn btn-primary">Update</button>
            {% endif %}
            {% comment %} <input type="text" name="btn_clicked" value="register" hidden> {% endcomment %}
        </div>
  </form>
  </div>
  <script>
      $(document).ready(function () {
            $("#st_uid").change(function () {
                var offered_by = $('#offered_by').val();
                var url1 = $("#indexForm").attr("data-course-url");
                var stuid = $(this).val();
                var exam_descr = $('#exam_descr').val();
                $.ajax({                       
                    url: url1,                   
                    data: {
                        'offered_by': offered_by,
                        'st_uid': stuid,
                        'exam_descr' : exam_descr  
                    },
                    success: function (data) {   
                        $("#course_code").html(data);  
                    },
                    error: function(data){
                        $('#course_code').
                        alert(data.responseJSON.error);
                    }
                });
            });
            /* 
            $("#exam_descr").change(function () {    // ************* Enable next input field ****************** //
                var offered_by = $('#offered_by').val();
                var url1 = $("#indexForm").attr("data-course-url");
                var stuid = $("#st_uid").val();
                var exam_descr = $(this).val();
                $.ajax({                       
                    url: url1,                   
                    data: {
                        'offered_by': offered_by,
                        'st_uid': stuid,
                        'exam_descr' : exam_descr  
                    },
                    success: function (data) {   
                        $("#course_code").html(data);  
                    },
                    error: function(data){
                        $('#course_code').
                        alert(data.responseJSON.error);
                    }
                });
            });
            $("#offered_by").change(function () {  // ************* Enable next input field ****************** //
                var offered_by = $(this).val();
                var url1 = $("#indexForm").attr("data-course-url");
                var stuid = $("#st_uid").val();
                var exam_descr = $("#exam_descr").val();
                $.ajax({                       
                    url: url1,                   
                    data: {
                        'offered_by': offered_by,
                        'st_uid': stuid,
                        'exam_descr' : exam_descr  
                    },
                    success: function (data) {   
                        $("#course_code").html(data);  
                    },
                    error: function(data){
                        $('#course_code').
                        alert(data.responseJSON.error);
                    }
                });
            });

            $("#offered_by").change(function(){
                var stuid = $("#st_uid").val('');
            });
            $("#exam_descr").change(function(){
                var stuid = $("#st_uid").val('');
            });*/
        });
  </script>
</body>
</section>
{% endblock %}